Protocol 2

PrintMotd no

PasswordAuthentication no
ChallengeResponseAuthentication no

AcceptEnv LANG LC_*

DisableForwarding yes

HostKey /git-registry/etc/ssh/ssh_host_ecdsa_key
HostKey /git-registry/etc/ssh/ssh_host_ed25519_key
HostKey /git-registry/etc/ssh/ssh_host_rsa_key

AuthorizedKeysFile /git-registry/etc/ssh/%u/authorized_keys

AllowUsers git

